<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="oAuthConsumerKey" value="ozbc3zcl8pUmhcqBwQMaKiyOv"/>
		<add key="oAuthConsumerSecret" value="Edd8Fy73UELRsKV5BRfAF5SJ0XShsSQNoW0gEWNiH1XEENRs9T"/>
		<add key ="AccessToken" value="31186819-Q5vfrc4g2AtSIjIMj8bHt3JLLxtWpMO9rL9FrQhKG"/>
		<add key="AccessTokenSecret" value="USqFUUANQEqUKNhkfc2BXfbapgFY0KCzviLXvbItyndLp"/>
	</appSettings>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="WebForm1.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>